# Discord User Token (DO NOT SHARE WITH ANYONE!)
DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE

# Kick Username
KICK_USERNAME=YOUR_KICK_USERNAME_HERE

# Discord Server Invite Link (Optional)
DISCORD_INVITE=https://discord.gg/YOUR_INVITE_LINK

# Application Language (EN or TR)
LANGUAGE=EN
